body {
  background-color: #2c3e50;
  color: azure;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.main {
  margin-top: 4rem;
}

.main-list{
  width: 512px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  opacity: 0.85;
}

.js-clock {
  text-align: center;
  font-size: 1.25rem;
}

.js-weather {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.js-toDoForm {
  display: flex;
  margin: 2rem;

}

input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: azure;
  background-color: transparent;
  border-bottom: 2px solid azure;
  padding-top: 1rem;
  padding-left: 1rem;
}

::placeholder {
  color: azure;
}

.js-toDoList {
  margin: 2rem;

  display: display;
  background-color: black;
  align-items: center;
  user-select: none;
}
